*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "abstract/_variables",
        "abstract/_mixins",
        "components/_nav",
        "components/_button",
        "components/_footer",
        "components/shape",
        "components/textAndIllustration",
        "layout/presentation";

body{
  width: 100vw;
  overflow-x: hidden;
  background-color: $blue_800;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

section {
  max-width: 1366px;
  min-height: 90vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 600px 448px;
  column-gap: 20px;
  row-gap: 128px;
}