*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "abstract/_variables",
        "components/_nav",
        "components/_button";

body{
  background-color: $blue_800;
  font-family: 'Montserrat', sans-serif;
}

section {
  max-width: 1366px;
  min-height: 100vh;
  display: grid;
  margin: 0 120px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}