*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "abstract/_variables",
        "abstract/_mixins",
        "components/_nav",
        "components/_button",
        "components/_footer",
        "components/_shape",
        "components/_textAndIllustration",
        "components/cardSkill",
        "layout/presentation",
        "layout/skill";

body{
  width: 100vw;
  overflow-x: hidden;
  background-color: $blue_800;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $white;
}