.skill{
  max-width: 1366px;
  min-height: 90vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 600px;
  column-gap: 20px;
  row-gap: 128px;
}

.bcIllustation{
  grid-column: -2/-6;
}

.gridRow1{
  grid-row: 1;
}

.part1{
  grid-column: 1/7;
}