header{
  height: 80px;
  width: 100%;
  z-index: 50;
  top: 0;
  background-color: $blue_400;
  border-radius: 0 0 20px 20px;
  position: fixed;
  filter: drop-shadow( 0px 12px 24px $shadow);
  @include m{
    background-color: unset;
  }

  label{
    .burgerMenuContainer{
      >span, >input, .bcBurger{
        display: none;
      }
    }

    .burgerMenuContainer{
      height: 100%;
      @include m {
        > span, > input, .bcBurger {
          display: block;
        }

        display: block;
        height: 100%;
        width: 70px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        left: 40px;
        top: 20px;

        nav {
          visibility: hidden;
          height: 50vh;
          width: auto;
          position: relative;
          left: 48px;

          ul {
            height: 80%;
            justify-content: space-evenly;

            li {
              opacity: 0%;
              transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
              position: relative;

              &:nth-of-type(1) {
                left: -100px;
              }

              &:nth-of-type(2) {
                left: -200px;
              }

              &:nth-of-type(3) {
                left: -300px;
              }
            }

          }

          a {
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
            opacity: 0%;
            position: relative;
            left: -400px;
          }
        }

        > span {
          height: 7px;
          margin: 14px 0;
          background-color: $white;
          border-radius: 8px;
          transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

          &:nth-of-type(1) {
            width: 50%;
          }

          &:nth-of-type(2) {
            width: 100%;
          }

          &:nth-of-type(3) {
            width: 75%;
          }
        }

        .bcBurger {
          position: fixed;
          top: -14px;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: $darkShadow;
          visibility: hidden;
        }

        input {
          display: none;

          &:checked {
            ~ span:nth-of-type(1) {
              transform-origin: bottom;
              transform: rotateZ(45deg) translate(8px, 0px);
            }

            ~ span:nth-of-type(2) {
              transform-origin: top;
              transform: rotateZ(-45deg);
            }

            ~ span:nth-of-type(3) {
              transform-origin: bottom;
              width: 50%;
              transform: translate(30px, -11px) rotateZ(45deg);
            }

            ~ nav, ~ .bcBurger {
              visibility: visible;
            }

            ~ nav {
              a {
                opacity: 100%;
                left: 0px;
              }

              li {
                opacity: 100%;

                &:nth-of-type(1) {
                  left: 0px;
                }

                &:nth-of-type(2) {
                  left: 0px;
                }

                &:nth-of-type(3) {
                  left: 0px;
                }
              }
            }

          }
        }
      }
    }
  }


  nav {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include m{
      flex-direction: column;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      @include m{
        flex-direction: column;
      }
    }

    li{
      padding-right: 32px;

      a {
        text-decoration: none;
        color: $white;
        font-size: 24px;
        font-weight: 500;

        position: relative;
        //no line break
        white-space: nowrap;

        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);

        &::before{
          position: absolute;
          width: 100%;
          height: 1px;
          background: currentColor;
          top: 100%;
          left: 0;
          pointer-events: none;
          //show before
          content: "";

          //set the start position and the transition of the underline
          transform-origin: 50% 100%;
          transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
          clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%)

        }

        &:hover::before {
          //up width and height of the underline
          transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
          //set the end of annimation
          clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
        }

        //move text
        &:hover{
          transform: translate3d(0, -2px, 0);
        }
      }
    }

  }

}
