@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-center($url) {
  background: url($url);
  background-size: cover;
  background-position: center;
}

@mixin grid($rowGapValue: 32px){
  max-width: 1200px;
  min-height: 80vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: $rowGapValue;
}

@mixin xl{
  @media screen and (max-width: 1200px){
    @content;
  }
}
@mixin l{
  @media screen and (max-width: 1024px){
    @content;
  }
}
@mixin m{
  @media screen and (max-width: 768px){
    @content;
  }
}
@mixin s{
  @media screen and (max-width: 430px){
    @content;
  }
}