$white : #FFFFFF;

$blue_800: hsl(214, 74, 23);
$blue_700: hsl(214, 74, 33);
$blue_600: hsl(214, 74, 43);
$blue_500: hsl(214, 74, 53);
$blue_400: hsl(214, 74, 63);
$blue_300: hsl(214, 74, 73);
$blue_200: hsl(214, 74, 83);

$orange_500: hsl(14, 100, 59);
$orange_400: hsl(14, 100, 69);


